In [21]:
import pandas as pd
import string
from collections import Counter

In [22]:
documents = ['Hello, how are you!',
             'Win money, win from home.',
             'Call me now.',
             'Hello, Call hello you tomorrow?']

In [23]:
lower_case_documents = [x.lower() for x in documents]
print(lower_case_documents)

['hello, how are you!', 'win money, win from home.', 'call me now.', 'hello, call hello you tomorrow?']

In [24]:

sans_punctuation_doc =[i.translate(str.maketrans('', '', string.punctuation)) for i in lower_case_documents]
print(sans_punctuation_doc)

['hello how are you', 'win money win from home', 'call me now', 'hello call hello you tomorrow']

In [25]:
preprocessed_documents = [i.split() for i in sans_punctuation_doc]
print(preprocessed_documents)

[['hello', 'how', 'are', 'you'], ['win', 'money', 'win', 'from', 'home'], ['call', 'me', 'now'], ['hello', 'call', 'hello', 'you', 'tomorrow']]

In [26]:


print([Counter(i) for i in preprocessed_documents])

print([Counter(i).keys() for i in preprocessed_documents[0]])

print([Counter(i).values() for i in preprocessed_documents[0]])

[Counter({'hello': 1, 'how': 1, 'are': 1, 'you': 1}), Counter({'win': 2, 'money': 1, 'from': 1, 'home': 1}), Counter({'call': 1, 'me': 1, 'now': 1}), Counter({'hello': 2, 'call': 1, 'you': 1, 'tomorrow': 1})]
[dict_keys(['h', 'e', 'l', 'o']), dict_keys(['h', 'o', 'w']), dict_keys(['a', 'r', 'e']), dict_keys(['y', 'o', 'u'])]
[dict_values([1, 1, 2, 1]), dict_values([1, 1, 1]), dict_values([1, 1, 1]), dict_values([1, 1, 1])]

In [60]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer(stop_words = 'english').fit(documents)
doc_array = count_vector.transform(documents).toarray()
frequency_matrix = pd.DataFrame(doc_array, 
                                columns = count_vector.get_feature_names())

In [61]:
frequency_matrix

   hello  home  money  tomorrow  win
0      1     0      0         0    0
1      0     1      1         0    2
2      0     0      0         0    0
3      2     0      0         1    0

In [85]:
import pandas as pd
import io
import pandas as pd
import string
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [86]:
df = pd.read_csv("/Users/home/Downloads/workspace-1556865498/home/smsspamcollection/SMSSpamCollection.txt",
                   sep = '\t',
                  header = None, 
                  names = ['label', 'sms_message']
                 )
df.head()

  label                                        sms_message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [87]:
df['target_var'] = [1 if x == 'spam' else 0 for x in df['label']]
df.drop(['label'], axis = 1, inplace =True)

In [88]:
df.head()

                                         sms_message  target_var
0  Go until jurong point, crazy.. Available only ...           0
1                      Ok lar... Joking wif u oni...           0
2  Free entry in 2 a wkly comp to win FA Cup fina...           1
3  U dun say so early hor... U c already then say...           0
4  Nah I don't think he goes to usf, he lives aro...           0

In [89]:
x_train, x_test, y_train, y_test = train_test_split(df['sms_message'], df['target_var'], test_size = 0.25, random_state =1)

In [90]:
x_train.shape

(4179,)

In [91]:
x_test.shape

(1393,)

In [92]:
print('Number of rows in the total set: {}'.format(df.shape[0]))
print('Number of rows in the training set: {}'.format(x_train.shape[0]))
print("Number of rows in the test set: {}".format(x_test.shape[0]))

Number of rows in the total set: 5572
Number of rows in the training set: 4179
Number of rows in the test set: 1393

In [93]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()
training_data = count_vector.fit_transform(x_train)
testing_data  = count_vector.transform(x_test)

In [94]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [95]:
predictions = naive_bayes.predict(testing_data)

In [100]:
from sklearn.metrics import confusion_matrix
metrics = confusion_matrix(y_test, predictions)
tn, fp, fn, tp  = metrics.ravel()
print(metrics)
print(tn, fp, fn, tp)

[[1203    5]
 [  11  174]]
1203 5 11 174

In [98]:
print("Accuracy score : ", format(accuracy_score(y_test, predictions)))
print("Precision score: ", format(precision_score(y_test, predictions)))
print("Recall score: ", format(recall_score(y_test, predictions)))
print("F1 score: ", format(f1_score(y_test, predictions)))

Accuracy score :  0.9885139985642498
Precision score:  0.9720670391061452
Recall score:  0.9405405405405406
F1 score:  0.9560439560439562